* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 90em) {
    html {
      font-size: 50%; } }
  @media (max-width: 48em) {
    html {
      font-size: 43.75%; } }

body {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Press Start 2P", sans-serif;
  background-image: linear-gradient(to top, rgba(119, 119, 119, 0.76), rgba(51, 51, 51, 0.753)), url("../img/hero.jpg"); }
  @media (max-width: 26.56em) {
    body {
      background-image: linear-gradient(to top, rgba(119, 119, 119, 0.76), rgba(51, 51, 51, 0.753)), url("../img/hero-small.jpg");
      background-position: top;
      background-size: cover; } }

::selection {
  background-color: red;
  color: orange; }

.calc_head {
  font-size: 5.2rem;
  color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 4.8rem 0;
  background-image: linear-gradient(to bottom, #b5179e, #f72585);
  -webkit-background-clip: text;
  text-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3); }
  @media (max-width: 26.56em) {
    .calc_head {
      font-size: 3rem; } }

.calc_head:hover {
  animation: scaleRotateX;
  animation-duration: 1s; }

@keyframes scaleRotateX {
  80% {
    transform: scale(1.5) rotateX(180deg); }
  100% {
    transform: scale(1) rotateX(360deg); } }

.calc__body {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #212529;
  padding: 3.6rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.336); }
  @media (max-width: 90em) {
    .calc__body {
      width: 30%; } }
  @media (max-width: 75em) {
    .calc__body {
      width: 35%; } }
  @media (max-width: 48em) {
    .calc__body {
      width: 50%; } }
  @media (max-width: 26.56em) {
    .calc__body {
      width: 80%; } }
  @media (max-width: 23.43em) {
    .calc__body {
      width: 95%; } }

.display {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 4.6rem;
  font-size: 3.2rem; }

.calc_display__number {
  margin-bottom: 6.4rem;
  font-size: 3.2rem;
  width: 100%;
  padding: 3.2rem;
  border-radius: 0.3rem;
  font-family: "Press Start 2P", sans-serif;
  border: 0.2rem solid #001219c9;
  box-shadow: inset 0.3rem 0.3rem #0012194f; }

.calc_display__number:focus {
  outline: none; }

.calc_display__number::-webkit-inner-spin-button,
.calc_display__number::-webkit-outer-spin-button {
  display: none; }

.buttons {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  font-size: 3.2rem; }
  .buttons__numbers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .buttons__numbers .number:link,
    .buttons__numbers .number:visited {
      width: 100%;
      text-align: center;
      padding: 1rem;
      text-decoration: none;
      color: #fff;
      border: 0.1rem solid transparent;
      transition: all 0.3s; }
    .buttons__numbers:hover .number:link,
    .buttons__numbers:hover .number:visited {
      color: #b5179e; }
    .buttons__numbers:hover .number:hover {
      color: #f72585;
      border-color: #b5179e; }
    .buttons__numbers:hover .number:active {
      background-color: #b5179e; }
  .buttons__operations {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; }
    .buttons__operations .operation:link,
    .buttons__operations .operation:visited {
      text-decoration: none;
      padding: 1rem;
      color: #fff;
      border: 0.1rem solid transparent;
      transition: all 0.3s; }
    .buttons__operations:hover .operation:link,
    .buttons__operations:hover .operation:visited {
      color: #72efdd; }
    .buttons__operations:hover .operation:hover {
      color: #72efdd;
      border-color: #72efdd; }
    .buttons__operations:hover .operation:active {
      background-color: #72efdd; }
  .buttons__equality {
    grid-column: -3/-1;
    text-align: center; }
    .buttons__equality .equality:link,
    .buttons__equality .equality:visited {
      display: block;
      text-decoration: none;
      padding: 1rem;
      color: #fff;
      border: 0.1rem solid transparent;
      transition: all 0.3s; }
    .buttons__equality:hover .equality:link,
    .buttons__equality:hover .equality:visited {
      color: #4895ef; }
    .buttons__equality:hover .equality:hover {
      color: #4cc9f0;
      border-color: #4895ef; }
    .buttons__equality:hover .equality:active {
      background-color: #4895ef; }
